body{
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: $regal-blue;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, $regal-blue, $san-juan);
  //background: linear-gradient(to right, $regal-blue, $san-juan);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat:no-repeat;
  height:100%;
  font-family: $font-body;
  margin:0;
  color:$black;
  display:inline-block;
  width:100%;

}
.container{
  width:100%;
  height:auto;
  max-width:100%;
  text-align:center;
  @include breakpoint($tab){
    @include flexbox;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:100vh;
  }
}
.row{
  margin:0 auto;
  max-width:1200px;
  @include flexbox;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  @include breakpoint($tab){
    flex-direction:row;
    align-items:flex-start;
  }
}

#more-info{
  @include fa-icon;
  @extend .fas;
  @include bounce;
  font-size:5em;
  &::before{
    content:fa-content($fa-var-angle-down);

  }
}